<table width="400px" height="200px" border="1">

<tr>
<td>
<img style="display:block;" width="100px" height="100px" src="pet1.jpg" alt="description here" />
</td>
<td>
<img  style="display:block;" width="100px" height="100px" src="pet2.jpg" alt="description here" />
</td>
<td>
<img style="display:block;" width="100px" height="100px" src="pet3.jpg" alt="description here" />
</td>
<td>
<img style="display:block;" width="100px" height="100px" src="pet4.jpg" alt="description here" />
</td>
</tr>

<tr>
<td>
<img style="display:block;" width="100px" height="100px" src="pet5.jpg" alt="description here" />
</td>
<td>
<img style="display:block;" width="100px" height="100px" src="pet6.jpg" alt="description here" />
</td>
<td>
<img style="display:block;" width="100px" height="100px" src="pet7.jpg" alt="description here" />
</td>
<td>
<img style="display:block;" width="100px" height="100px" src="pet8.jpg" alt="description here" />
</td>
</tr>

</table>