<table width="400px" height="200px" border="1">

<tr>
<td>
<img style="display:block;" width="100px" height="100px" src="Alternative1.jpg" alt="description here" />
</td>
<td>
<img  style="display:block;" width="100px" height="100px" src="Alternative2.jpg" alt="description here" />
</td>
<td>
<img style="display:block;" width="100px" height="100px" src="Alternative3.jpg" alt="description here" />
</td>
<td>
<img style="display:block;" width="100px" height="100px" src="Alternative4.jpg" alt="description here" />
</td>
</tr>

<tr>
<td>
<img style="display:block;" width="100px" height="100px" src="bike1.jpg" alt="description here" />
</td>
<td>
<img style="display:block;" width="100px" height="100px" src="bike3.jpg" alt="description here" />
</td>
<td>
<img style="display:block;" width="100px" height="100px" src="bike4.jpg" alt="description here" />
</td>
<td>
<img style="display:block;" width="100px" height="100px" src="bike7.jpg" alt="description here" />
</td>
</tr>

</table>