<table width="400px" height="200px" border="1">

<tr>
<td>
<img style="display:block;border:6px solid red" width="100px" height="100px" src="Alternative1.jpg" alt="description here" />
</td>
<td>
<img  style="display:block;" width="100px" height="100px" src="Alternative2.jpg" alt="description here" />
</td>
<td>
<img style="display:block;" width="100px" height="100px" src="kitten1.jpg" alt="description here" />
</td>
<td>
<img style="display:block;" width="100px" height="100px" src="kitten2.jpg" alt="description here" />
</td>
</tr>

<tr>
<td>
<img style="display:block;" width="100px" height="100px" src="kitten3.jpg" alt="description here" />
</td>
<td>
<img style="display:block;" width="100px" height="100px" src="kitten4.jpg" alt="description here" />
</td>
<td>
<img style="display:block;" width="100px" height="100px" src="kitten7.jpg" alt="description here" />
</td>
<td>
<img style="display:block;" width="100px" height="100px" src="kitten8.jpg" alt="description here" />
</td>
</tr>

</table>